numpy
ray
pandas
scikit-learn
ipykernel
torch
transformers
faiss-cpu  # For vector storage, can be replaced with faiss-gpu if using GPU
sentence-transformers  
flask
PyPDF2
fuzzywuzzy[speedup]
pinecone-client
python-dotenv
openai==0.28
pyarrow
ipywidgets




